//Last Updated - 22 Jan 2019
@import "blocks/variables";
@import "blocks/type";
@import "blocks/default";
// @import "blocks/print";
// @import "blocks/alert";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/footer";
// @import "blocks/button";
// @import "blocks/modal";
// @import "blocks/form";
// @import "blocks/search";
@import "blocks/banner";
// @import "blocks/slider";
// @import "blocks/tabs";
// @import "blocks/event";
// @import "blocks/es";
// @import "blocks/common";
@import "blocks/custom";
// @import "blocks/community-groups";
// @import "blocks/signin-up";
@import "blocks/accordion";
// @import "blocks/course";
// @import "blocks/course-discussions";
@import "blocks/library";