.tjbase-banner {
  position: relative;

  .mod-banners {
    background-size: cover;
    // padding: 60px 0 0 0;
    min-height: 400px;
    position: relative;
  }

  .mod-video-banners {
    position: relative;
    overflow: hidden;
    min-height: 400px;
  }

  video {
    height: 100%;
    margin-top: 60px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
  }

  .banner-items-top {
    height: 60px;
  }

  .banner-items {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    width: 90%;
    margin: 0 auto;

    h2 {
      font-size: 1.5rem;
      border-bottom: 1px solid #757d86;
      margin: 0 auto 0.5rem auto;
      padding: 0 0 0.5rem 0;

      .dri {
        font-weight: 700;
      }
      font-weight: 400;
    }

    p {
      font-size: $text-sm;
      line-height: 22px;
      font-weight: 400;

      strong {
        font-weight: 700;
      }
    }
  }

  .left-aligned-banners {
    .banner-content {
      position: relative;
      min-height: 545px;
    }
    .banner-items {
      //position: unset;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }

  .event-slider {
    padding: 60px 0 0 0;

    .banner-bg-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 250px;
      display: flex;
      flex-wrap: wrap;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
      }
    }

    .caption {
      color: #fff;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      padding: 0 40px;

      a {
        text-decoration: none;
      }

      h2.event-title {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.3;

        a {
          color: #fff;
          display: inline-block;
        }
      }

      .tjlmspin__caption_desc {
        color: #e7e7e7;
        font-size: $text-sm;
        font-weight: 400;
      }

      .event-deatils {
        font-size: $text-xs;
        font-weight: 500;

        .event-date,
        .event-pin-location {
          display: block;
        }
      }
    }
    
    .readmore-link{
      a{
        color: #ca1d2d;
        font-weight: 700;
      }

    }
  }
}

@media screen and (min-width: 576px) {
  .tjbase-banner {
    .mod-banners,
    .mod-video-banners,
    .banner-bg-image  {
      min-height: 450px;
    }

    .event-slider {
      .caption {
        padding: 0 30px;

        .event-deatils {
          font-size: $text-xs;
          font-weight: 500;
        }
      }
    }
    .left-aligned-banners {
      .banner-items {
        margin: 0 auto 0 0;
      }

      h2 {
        margin: 0 auto 0.5rem 0;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

  }
}


@media screen and (min-width: 768px) {
  .tjbase-banner {

    .mod-banners,
    .mod-video-banners,
    .banner-bg-image  {
      min-height: 480px;
    }
    .banner-items {
      width: 65%;
    }

    h2 {
      font-size: 1.5rem;
    }

    .event-slider {
      .banner-bg-image {
        min-height: 350px;
      }

      .caption {
        padding: 0;

        h2.event-title {
            font-size: 1.5rem;
        }
        .event-deatils {
          font-size: $text-sm;

          .event-date,
          .events-pin-location {
            display: inline-block;
          }

          .event-date {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .tjbase-banner {

    .mod-banners,
    .mod-video-banners,
    .banner-bg-image  {
      min-height: 500px;
    }

    video {
      height: unset;
      width: 100%;
    }

    .banner-items {
      width: 50%;
    }

    .event-slider,
    .event-detail-banner {

      .caption {
        h2.event-title {
            font-size: 2.25rem;
        }
        .event-deatils {
          font-size: $text-base;
        }
      }

      .banner-event-card {
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 5px;
        width: 250px;
        background-position: center;
        float: right;
        top: 0;

        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22%, rgba(255, 255, 255, 0) 100%);
          border-radius: 5px;
          content: "";
        }

        .content {
          position: absolute;
          bottom: 0;
          padding: 20px;

          a {
            color: #fff;
            font-size: $text-sm;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .tjbase-banner {

    .mod-banners,
    .mod-video-banners {
      min-height: 650px;
    }

    video {
      margin-top: 0;
    }

    .banner-items-top {
      height: 105px;
    }

    .banner-items {
      width: 36%;

      h2 {
        font-size: 2.813rem;
        margin: 0 auto 0.5rem auto;
        padding: 0 0 0.5rem 0;
      }
    }

    .left-aligned-banners {
      .banner-items {
        width: 47%;
      }
    }

    .event-slider {
      padding: 0;

      .banner-bg-image {
        min-height: 540px;
      }

      .caption {
        margin-top: 30px;
      }

      .banner-event-card {
        height: 340px;
        width: 270px;
        top: 30px;

        .content a {
          font-size: $text-base;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px){
  .without-banner-layout header {
    height: auto !important;
    padding: 0.875rem 0px 0.5rem !important;
    background: linear-gradient(rgb(247, 250, 254) 0%, rgb(224, 224, 224) 100%) !important;
    box-shadow: rgb(213, 213, 213) 0px 2px 4px;
}
}
