#es.featured-groups {
  .es-cards {
    display: revert !important;

    .es-cards-item {
      width: 100%;
      position: relative;
      height: 270px !important;
      margin: 0 0 20px 0;
      border-radius: 5px;
      padding: 0;
    }
    .es-card_hd{
      height: 100%;
      a{
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
    }
    .es-card-bd{
      position: relative;
      z-index: 3;
      .es-card__avatar  {
        position: unset;
      }
      .caption{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
        padding: 10px 15px;
        color: #fff;
        .es-card__avatar{
          width: 120px;
          .o-avatar-v2{
            width:120px;
          }
        }
        h4 {
          font-size: $text-lg;
          font-weight: 700;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
 
  }
 .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.8) 89.16%);
  bottom: 0;
  mix-blend-mode: normal;
}
.g-list-inline{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
}
}

@media screen and (min-width: 991px) {
  #es.featured-groups {
    .es-cards {
      .es-cards-item {
        &:first-child {
          height: 500px !important;
          margin: 0 30px 0 0;
          width: calc(50% - 30px);
        }
        &:nth-child(2),
        &:last-child {
          height: 242px !important;
          width: 50%;

          .jticketing_pin_img a {
            padding-top: 21.25%;
            height: 100% !important;
          }
        }
        &:nth-child(2) {
          margin: 0 0 15px 0;
        }
        .caption{
          padding: 15px 20px;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  #es.featured-groups {
    .es-cards {
      .es-cards-item {
        .caption{
          h4{
            font-size: $text-xl;
          }
        }
      }
    }
  }
}