
//Home page course module
.course-module-home {
  .course-cover {
    .course-card-pin {
      position: relative;
      width: 100%;
      height: 270px !important;
      margin: 0 0 20px 0;
      padding: 0;
      border-radius: 5px;

      .tjlmspin__thumbnail {
        a {
          background-repeat: no-repeat;
          background-position: 0% 0%;
          background-size: cover;
          border-radius: 5px;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgb(255 255 255 / 80%) 0%, rgba(255, 255, 255, 0.8) 0%, rgb(0 0 0 / 5%) 0.01%, rgba(0, 0, 0, 0.95) 80%);
            border-radius: 5px;
            content: "";
          }
        }
      }

      .card-section-bottom {
        position: relative;
        z-index: 3;

        .caption {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 30px;
          color: #fff;
          text-align: left;

          h4 {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;

            a {
              color: #fff;
              font-weight: 700;
              font-size: 20px;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .tjlmspin__caption_desc {
          display: none;
          color: #a0a0a0;
          font-size: 0.813rem;
        }

        .enrollment-count,
        .start-date {
          color: #fff;
          font-weight: 500;
          font-size: 0.813rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .course-module-home .course-cover .card-section-bottom .tjlmspin__caption_desc {
    display: block;
  }
}

@media screen and (min-width: 991px) {
  .course-module-home {
    .course-cover {
      .course-card-pin {
        &:first-child {
          width: calc(50% - 20px);
          height: 540px !important;
          margin: 0 20px 0 0;
        }

        &:nth-child(2),
        &:last-child {
          width: calc(50% - 20px);
          height: 250px !important;
        }

        &:nth-child(2) {
          margin: 0 0 20px 20px;
        }

        &:last-child {
          margin: 20px 0 0 20px;
        }
      }

      .card-section-bottom {
        .caption {
          padding: 15px 20px;
        }

        .enrollment-count,
        .start-date {
          margin-right: 25px;
        }
      }
    }
  }
}
// Lesson Detail View
.com_tjlms_content.tjBs3 {
  .tjlms-lesson #jlikeToolbar .playlist-toggle,
  .tjlms-lesson .tjlms-lesson__playlist-container {
    background-color: transparent;
  }
  .panel-default > .panel-heading {
    background-color: transparent;
    border: 0;
  }

  .tjlms-lesson__playlist__lesson {
    background: transparent !important;

    .tjlms_toc__lesson-title {
      font-size: 14px;
      color: #333 !important;
    }
  }

  .btn-primary {
    padding: 3px 8px;
    border-radius: 3px;
    color: #fff !important;
    border: 2px solid #CA1D2D;
    background-color: #CA1D2D;

      &:hover,
      &:focus {
        color: #fff !important;
        background-color: #f13044;
        border: 2px solid #f13044;
        box-shadow: unset;
      }
   }
}

// Participants Module

.participants-title {
  font-size: $text-lg;
  font-weight: 500;
  line-height: 21px;
}

.course-participants {
  .assignUsers .panel-body .profile-pic img,
  .courseTaughtBy .panel-body .profile-pic img,
  .recommendUsers .panel-body .profile-pic img,
  .enrolledUsers .panel-body .profile-pic img {
    width: 40px;
    height: 40px;
  }

  a {
    .profile-pic {
      margin-right: 10px;

      img {
        border-radius: 100%;
      }
    }

    .user-name {
      width: calc(100% - 100px);
      display: inline-block;
      vertical-align: middle;
      color: #333;
      font-size: 20px ;
      font-weight: 400;
    }

    .icon {
      width: 20px;
      height: 15px;
      margin-left: 20px;
    }
  }
}