.event-thumbnail-image {
  max-width: 80%;
  max-height: 80px;
  padding: 0.3rem;
  background: #fff;
  border-radius: 3px;
}

.seatfilling {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color: $orange-color;
  font-weight: 600;
  font-size: 0.813rem;
  background-color: #fdf4f2;
  border-radius: 3px;
}

.pin__cover {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 0 #ccc;

  .featured {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 2px 8px;
    color: #fff;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 5px 0 0;
  }

  .pin__img {
    position: relative;
    height: 230px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      content: "";
    }

    .event-thumbnail-image {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 2;
      max-width: 80%;
      max-height: 40px;
    }

    img.event-image {
      height: 100%;
      object-fit: cover;
      border-radius: 5px 0 0 5px;
    }

    a {
      height: 100%;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 5px 0 0 5px;
        content: "";
      }
    }
  }

  .pin__info {
    position: relative;
    height: 100%;
    padding: 20px 20px 20px 0;

    h4.event-title {
      a {
        display: inline-block;
        color: #000;
        font-weight: 700;
        font-size: $text-base;
        line-height: 1.5rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .event-date,
    .event-time,
    .event-location {
      color: #444;
      font-weight: 400;
      font-size: 0.813rem;
    }

    .enrollmentCount {
      position: absolute;
      bottom: 20px;
      left: 0;
      color: #444;
      font-weight: 500;
      font-size: 0.813rem;
    }

    .register-link a {
      position: absolute;
      right: 20px;
      bottom: 20px;
      color: $link-color;
      font-weight: 500;
      font-size: 0.813rem;

      &:hover {
        color: $link-hover-color;
      }

      .fa {
        font-size: 0.7rem;
      }
    }
  }
}

.pin__cover:hover {
  border: none !important;
}

.view-all {
  margin: 1.5rem 0;
  text-align: center;

  a {
    display: inline-block;
    padding: 12px 24px;
    color: #ca1d2d;
    font-weight: 600;
    font-size: 1rem;
    border: 1px solid #ca1d2d;
    border-radius: 3px;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #ca1d2d;
    }
  }
}

/* Home - Featured Events Module */
.home-featured-events {
  #mod_jticketing_container {
    .jticketing_pin_item {
      position: relative;
      width: 100%;
      height: 270px !important;
      margin: 0 0 20px 0;
      border-radius: 5px;

      .jticketing_pin_img a {
        position: relative;
        height: 100% !important;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgb(255 255 255 / 80%) 0%, rgba(255, 255, 255, 0.8) 0%, rgb(0 0 0 / 5%) 0.01%, rgba(0, 0, 0, 0.95) 80%);
          border-radius: 5px;
          content: "";
        }
      }

      .jticketing_pin_img {
        height: 100%;

        a {
          height: 100% !important;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          border-radius: 5px;
        }
      }

      .jt-heading {
        .jt-event-ticket-price-text {
          right: 0;
          opacity: 1;

          a {
            color: $link-color;
            text-decoration: none;
          }
        }
      }

      .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 15px;
        color: #fff;
        text-align: left;

        .event-thumbnail-image {
          max-width: 80%;
          max-height: 40px;
        }

        h4 {
          font-weight: 700;
          font-size: $text-base;
          line-height: 22px;

          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .desc {
          display: none;
          color: #a0a0a0;
          font-size: 0.813rem;
        }

        .enrollmentCount,
        .event-date,
        .events-pin-location {
          color: #fff;
          font-weight: 500;
          font-size: 0.813rem;

          .fas.fa-map-marker::before {
            content: "\f3c5";
          }
        }
      }
    }
  }
}

/* Event List - Search */
.event-list {
  padding: 2rem 0;

  .custom-form-elements input[type=text].events__search--input {
    padding: 16px 60px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.06);
  }

  .searchinputBox {
    // width: 100%;
    // margin: 0 auto;

    .events__search--buttons {
      right: unset;
      left: 20px;

      .btn-search {
        padding: 7px 10px;
      }

      .btn-search {
        line-height: 2.4;
      }
    }
  }

  .filter-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 10px;

    a {
      color: #000;
    }
  }
}

.event-grid-nudge {
  .pin__cover {
    padding-left: 7px;
    background-color: transparent;
    border-left: 3px solid $link-color;
    border-radius: 0;
    box-shadow: unset;

    &:hover {
      border-left: 3px solid $link-color !important;
      transition: none !important;
    }

    .pin__img {
      height: 180px;

      img {
        border-radius: 5px;
      }
    }

    .pin__info {
      position: relative;
      height: 100%;
      padding: 0 30px 0 0;

      h4.event-title {
        font-weight: 700;
        font-size: $text-base;
        line-height: 22px;

        a {
          color: #333;
          font-weight: 700;
          font-size: $text-base;
          line-height: 22px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .event-date {
        font-weight: 400;
        font-size: 0.813rem;
      }

      .register-link {
        a {
          right: auto;
          left: 0;
        }
      }
    }
  }
}


/* Event Deatil */
.event-detail {
  .event-detail-banner {
    color: #fff;
    font-weight: 500;
    font-size: 0.813rem;

    .event-back-link {
      margin-bottom: 1rem;

      a {
        color: #fff;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    .banner-bg-image {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 100px 0 40px 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        content: "";
      }
    }

    .eventDetails-title h1 {
      font-weight: 700;
      font-size: 1.25rem;

      a {
        color: #fff;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }

    .fa-video-camera {
      width: 29px;
      height: 28px;
      padding: 6px 7px;
      background: #3d9cf8;
      border-radius: 100%;
    }

    .addthis_counter {
      vertical-align: middle;

      &.addthis_pill_style {
        height: unset;
        margin: 0;
        overflow: unset;

        a.atc_s {
          float: unset;
          height: unset;
          margin: 0;
          padding: 8px 35px;
          color: #fff;
          font-weight: 700;
          font-size: 1rem;
          background-color: transparent;
          background-image: unset;
          border: 2px solid #fff;
          border-radius: 3px;

          &:hover,
          &:focus {
            color: #fff;
            background-color: transparent;
            border: 2px solid #ca1d2d;
            box-shadow: unset;
          }
        }
      }
    }
  }

  //Event detail banner end

  .eventDetails-body {
    padding: 1rem 0;

    h3.section-title {
      color: #000;
      font-weight: 500;
      font-size: 26px;
      line-height: 40px;
      margin-bottom: 1rem;
    }

    .long_desc {
      color: #8f8f8f;

      a.r-more {
        color: $link-color;
      }
    }

    .partners-logo {
      img {
        max-width: 130px;
        margin: 0 3rem 2rem 0;
      }
    }

    .speaker-info {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.04);

      .speaker-pic img {
        width: 100%;
        border-radius: 5px 5px 0 0;
      }

      .bottom-section {
        padding: 1rem;
        border-radius: 0 0 5px 5px;
      }

      .speaker-name {
        color: #333;
        font-weight: 700;
        font-size: $text-base;
      }

      .speaker-designation {
        margin-bottom: 0.5rem;
        color: #8f8f8f;
        font-weight: 400;
        font-size: 0.813rem;
      }

      .social-icon {
        margin-right: 0.75rem;

        a .fa {
          color: #000;
          font-size: 1.25rem;
        }

        &.twitter:hover a .fa {
          color: #1d9bf0;
        }

        &.linkedin:hover a .fa {
          color: #0b66c2;
        }
      }
    }

    .agenda-cover {
      max-height: 300px;
      padding: 2rem;
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 0 35px rgba(136, 94, 94, 0.2);

      .agenda-list {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #dcdcdc;

        &:last-child {
          margin-bottom: unset;
          padding-bottom: unset;
          border-bottom: none;
        }

        h5 {
          margin-bottom: 1rem;
          color: #e76f51;
          font-size: 1.25rem;
        }

        .points-desc {
          color: #444;

          li {
            margin-bottom: 0.85rem;
          }
        }
      }
    }

    .contact-info {
      a {
        color: #444;
        font-size: $text-base;

        .fa {
          color: $orange-color;
          font-size: $text-2xl;
        }

        &:hover {
          color: #444;
          text-decoration: underline;
        }
      }
    }
  }

  .event-faqs,
  .event-ask-qauestion {
    h3.section-title {
      margin-bottom: 1.5rem;
      font-weight: 700;
      font-size: 2rem;
    }
  }

  .related-events {
    padding: 3rem 0;
    background-color: #f4faff;

    h3.section-title {
      margin-bottom: 3rem;
      font-weight: 500;
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 576px) {
  .event-detail {
    .event-detail-banner {
      .eventDetails-time {
        display: inline-block;
        margin-right: 2rem;
      }

      .eventDetails-location {
        display: inline-block;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home-featured-events #mod_jticketing_container .jticketing_pin_item .caption .desc {
    display: block;
  }

  .event-detail {
    .event-detail-banner {
      font-size: 0.813rem;

      .banner-bg-image {
        padding: 120px 0 60px 0;
      }

      .eventDetails-title h1 {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .home-featured-events {
    #mod_jticketing_container {
      .jticketing_pin_item {
        &:first-child {
          width: calc(50% - 20px);
          height: 540px !important;
          margin: 0 20px 0 0;
        }

        &:nth-child(2),
        &:last-child {
          width: calc(50% - 20px);
          height: 250px !important;

          .jticketing_pin_img a {
            height: 100% !important;
            padding-top: 21.25%;
          }
        }

        &:nth-child(2) {
          margin: 0 0 20px 20px;
        }

        &:last-child {
          margin: 20px 0 0 20px;
        }

        .caption {
          padding: 30px;

          h4 {
            font-size: $text-base;
            line-height: 22px;
          }

          .desc,
          .enrollmentCount,
          .event-date,
          .events-pin-location {
            font-size: 0.813rem;
          }

          .enrollmentCount,
          .event-date {
            margin-right: 25px;
          }
        }
      }
    }
  }

  // .event-list {
  //   .searchinputBox {
  //     width: 90%;
  //   }
  //   .filter-cover {
  //     margin: 0 auto;
  //     width: 90%;
  //   }
  // }

  .event-detail {
    .event-detail-banner {
      font-size: $text-base;

      .banner-bg-image {
        padding: 130px 0 80px 0;
      }

      .eventDetails-title h1 {
        font-size: 2.5rem;
      }
    }

    .eventDetails-body {
      padding: 3rem 0;

      .long_desc {
        font-size: $text-base;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // .event-list {
  //   .searchinputBox,
  //   .filter-cover {
  //     width: 90%;
  //   }
  // }

  .event-detail {
    .event-detail-banner {
      .banner-bg-image {
        padding: 200px 0 140px 0;
      }

      .eventDetails-title h1 {
        font-size: 2.813rem;
        line-height: 50px;
      }
    }
  }
}
