.library-list-view{
    .library-pin{
        .library-pin-cover{
            border-radius: 5px;
            box-shadow: 1px 1px 20px 0 #ccc;
            height: 100%;
            
            .library-bg-img{
                background-color: #f2f2f2;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 200px;
            }
            .library__caption{
                .library-title{
                    h2{
                        a{
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 24px;
                            color: #333;
                            height: 50px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                                           
                        }
                    }
                }
                .intro-text{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #8F8F8F;                    
                }
                .readmore{
                    a{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 12px;
                        line-height:20px;
                        text-transform: capitalize;
                        color: #CA1D2D;
                        
                        
                        &::after{
                            content: "\f105"; /* Unicode value for the Font Awesome icon */
                            font-family: "FontAwesome";
                            color: #CA1D2D;
                            vertical-align: initial;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

//Library detail-view

.library-detail-view{
    .fixed-top-bar{
        background-color: #fff;
        position: sticky;
        padding: 20px 0;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);

        h5.page-header{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #000;
        }
        .download-icon{
            color:  #CA1D2D;
            font-size: 16px;
        }
    }
    .page-header{
        h1{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.02em;
            text-transform: capitalize;    
            color: #333333;
            
        }
 
    }
    .article-info{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;     
        color: #666666;
        
    }
}

//Related Resource Module
.related-resources{
    background: #F4FAFF;
    .section-title{
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #000;        
    }
    .resource-info-cover{
        background-color: #fff;
        h4.newsflash-title a{
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #333;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin-bottom: 20px; 
            &:hover{
                text-decoration: none;
            }           
        }
    }
    .introtext{
        font-weight: 400;
        font-size: 12px;
        line-height:20px;
        color: #8F8F8F;        
    }
}
//Pagination
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ca1d2d;
    border-color: #ca1d2d;
}
.page-link{
    color: #cd1d2d;
    &:hover{
        color: #cd1d2d;
    }
}
.page-item.disabled .page-link{
    color: #ca1d2d;
    opacity: 0.5;
}