.mod-menu {
  ul {
    margin: 0 !important;
  }

  li {
    list-style: none;
  }
}

/* ======================================
 * Mobile Menu
 * ===================================== */
.tj-overlay {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.5;
  transition: opacity 1s;
  transition-timing-function: ease-in-out;

  &.hide {
    display: none;
  }
}

body.noscroll {
  overflow: hidden;
}

.main-menu {
  .hamburger-toggle-btn {
    position: absolute;
    top: 35px;
    right: 20px;
    z-index: 10;
    width: auto;
    height: 30px;

    .line {
      display: block;
      width: 27px;
      height: 2px;
      margin: 5px auto;
      background-color: #303030;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &.is-active {
      // position: fixed;
      // top: 5px;
      // right: -20px;
      // animation: smallbig 0.6s forwards;

      @keyframes smallbig {
        0%,
        100% {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }

        50% {
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
        }
      }

      .line {
        width: 20px;
        -webkit-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        transition-delay: 0.2s;

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          -webkit-transform: translateY(7px) rotate(45deg);
          -ms-transform: translateY(7px) rotate(45deg);
          -o-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: translateY(-7px) rotate(-45deg);
          -ms-transform: translateY(-7px) rotate(-45deg);
          -o-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
  }

    /* Mobile Menu starts */

    .hamburger-toggle-block {
      position: fixed;
      top: 0;
      right: -300px;
      z-index: 2;
      float: right;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 40px 0 0 0;
      overflow-y: scroll;
      background-color: #fff;
      border-radius: 0;
      transition: all 0.3s ease;

      &.open {
        right: 0;
        box-shadow: 1px 1px 16px -6px #333;
        width: 100%;
      }

      .nav {
        li.nav-item {
          display: block;
          width: 100%;
          border-bottom: 1px solid #ccc;

          a,
          span {
            display: inline-block;
            width: 100%;
            margin: 0;
            padding: 10px 14px;
            color: #444;
            font-size: $text-sm;
            text-decoration: none;

           .fa {
              position: absolute;
              right: 15px;
              top: 6px;
              font-size: 1.5rem;
            }
          }

          &.mod-menu__sub {
            > a,
            > span {
              &::before {
                content: unset;
              }
            }

            .fa {
              margin: 0 0 0 10px;
              font-size: 19px;
              vertical-align: top;
            }
          }

          &.parent {
            a,
            span {
              &::before,
              &::after {
                content: unset;
              }
            }
          }

          &.parent.active {
            >a,
            >span {
              color: #ca1d2d;
              font-weight: 600;

              &::before,
              &::after {
                content: unset;
              }
            }
          }

          &.parent.subMenuOpen {
            .dropdown-menu {
              display: block;
              position: unset;
              border: 0;
              padding: 0;

              li.nav-item {
                border: 0;

                &.active a {
                  color: #ca1d2d;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
    /* Mobile Menu ennds */

  /* Desktop Main Menu */
  .nav {
    li.nav-item {
      > a,
      > span {
        display: inline-block;
        margin: 10px 10px 10px 0;
        padding: 0 12px;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;

        &:hover {
          font-weight: 500;
        }
      }

      &.active {
        > a,
        > span {
          position: relative;
          color: #fff;
          font-weight: 800;

          &::before {
            position: absolute;
            bottom: -3px;
            left: 50%;
            width: 4px;
            height: 5px;
            text-align: center;
            border-right: solid 5px transparent;
            border-bottom: solid 5px #fff;
            border-left: solid 5px transparent;
            transform: translate(-50%, 0);
            content: "";
          }
        }
      }

      &.parent.active {
        > a,
        > span {
          &::before {
            left: 44%;
          }
        }
      }

      &.parent {
        > a,
        > span {
          position: relative;

          &::after {
            display: inline-block;
            padding: 0 0 0 5px;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            content: "\f107";
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }

        &:hover {
          > a,
          > span {
            &::after {
              content: "\f106";
            }
          }
        }

        ul.mod-menu__sub {
          position: absolute;
          top: 35px;
          z-index: -1;
          width: 220px;
          margin-left: 10px !important;
          background: #fefefe;
          border-radius: 2px;
          visibility: hidden;
          opacity: 0;
          transition: all 0.25s ease;

          li.nav-item {
            &.active {
              a,
              span {
                color: #ca1d2d;
                font-weight: 500;

                &:before {
                  content: unset;
                }
              }
            }
          }

          a,
          span {
            width: 100%;
            margin: 0;
            padding: 8px;
            color: #0b151e;
            font-size: 0.813rem;
            background: transparent;

            &:hover {
              font-weight: 700;
              background: #fafafa;
            }
          }
        }

        &:hover {
          .mod-menu__sub {
            z-index: 1 !important;
            visibility: visible !important;
            opacity: 1 !important;
          }
        }

        .submenu.parent {
          position: relative;

          > a,
          > span {
            position: relative;

            &::after {
              position: absolute;
              top: 9px;
              right: 10px;
              font-size: 20px;
              content: "\f105";
            }
          }

          ul.mod-menu__sub__sub {
            position: absolute;
            top: 0;
            left: 220px;
            z-index: -1;
            width: 200px;
            margin-left: 0 !important;
            background: #fefefe;
            border-radius: 2px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s ease;
          }

          &:hover {
            ul.mod-menu__sub__sub {
              z-index: 1 !important;
              visibility: visible !important;
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }
  /* Desktop menu ends */
}

.top-menu {
  .nav {
    li.nav-item {
      > a,
      > span {
        display: inline-block;
        margin: 0;
        padding: 0 35px 0 0;
        color: #a0a0a0;
        font-weight: 400;
        font-size: 0.813rem;
        text-decoration: none;

        &:hover {
          color: #fafafa;
          font-weight: 400;
        }
      }
    }
  }
}

.top-right-menu {
  .nav {
    li.nav-item {
      > a,
      > span {
        display: inline-block;
        margin: 0;
        color: #fafafa;
        font-weight: 400;
        font-size: $text-xs;
        text-decoration: none;

        &:hover {
          color: #fafafa;
          font-weight: 600;
        }
      }
    }
  }
}

/* Event Sunmenu */
.event-submenu {
  margin: 0 0 2rem 0;

  li {
    a {
      margin: 0 50px 0 0;
      color: #a0a0a0;
      font-size: $text-lg;

      &:hover {
        color: $link-color;
      }
    }

    &.current a {
      position: relative;
      color: $link-color;
      font-weight: 600;

      &::after {
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 3px;
        height: 4px;
        text-align: center;
        border-right: solid 5px transparent;
        border-bottom: solid 6px #ca1d2d;
        border-left: solid 5px transparent;
        transform: translate(-50%, 0);
        content: "";
      }
    }
  }
}
.scrolled, .without-banner-layout{
  .main-menu{
    .nav{
      li.nav-item, li.nav-item.active{
        a{
          color:#000 !important
        }
      }
      li.nav-item.active {
        >a {
          &::before {
            position: absolute;
            bottom: -3px;
            left: 50%;
            width: 4px;
            height: 5px;
            text-align: center;
            border-right: solid 5px transparent;
            border-bottom: solid 5px #000;
            border-left: solid 5px transparent;
            transform: translate(-50%, 0);
            content: "";
          }
        }
        >span {
          &::before {
            position: absolute;
            bottom: -3px;
            left: 50%;
            width: 4px;
            height: 5px;
            text-align: center;
            border-right: solid 5px transparent;
            border-bottom: solid 5px #000;
            border-left: solid 5px transparent;
            transform: translate(-50%, 0);
            content: "";
          }
        }
      }
    }
  }
}
