.splide__arrow {
  background: #CA1D2D;
  opacity: 1;
  width: 1.6em;
  height: 1.6em;

  svg {
    width: 0.8em;
    height: 0.8em;

    path {
      fill: #fff;
    }
  }
}

.splide__arrow[disabled] {
  background: #8F8F8F;
  cursor: not-allowed;
  opacity: 0.5;
}

.event-slider {
  .splide__arrow {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .splide__arrow {
    width: 2em;
    height: 2em;

    svg {
      width: 1em;
      height: 1em;
    }
  }
}

@media screen and (min-width: 1200px) {

}