// For font-awesome
$fa-font-path: "../fonts";

$base-font-family: 'Nunito Sans', sans-serif;
$heading-font-family: "DM Serif Text",serif !important;;
$base-color: #000;
$header-bg-color: #0b151e;
$link-color: #ca1d2d;
$link-hover-color: #e76f51;
$orange-color: #e76f51;

$body-bg:#fcfdfd;

$text-xxs: 0.625rem; //10px
$text-xs: 0.75rem; //12px
$text-sm: 0.875rem; //14px
$text-base: 1rem; //16px
$text-lg: 1.125rem; //18px
$text-xl: 1.25rem; //20px
$text-1-5xl: 1.375rem; //22px
$text-2xl: 1.5rem; //24px
$text-2-5xl: 1.625rem;
$text-3xl: 1.875rem;
$text-3-5xl: 2.125rem;
$text-4xl: 2.25rem;
$text-4-5xl: 2.5rem;
$text-5xl: 3rem;
